SCHEMA/curriculum_ismail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="curriculum">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personalData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="email" type="xs:string" />
                            <xs:element name="phone" type="xs:string" />
                            <xs:element name="birthDate" type="xs:string" />
                            <xs:element name="workExperience" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>